:root {
    --font-family: "Inter";
    --font-size: 14.77px;
    --radius: 12px;

    --color: #05073C;
    --color-orange: #EB662B;
    --color-gray: #717171;
    --color-light-gray: #e7e6e6;
}

body {
    font-family: var(--font-family);
    font-size: var(--font-size);
    color: var(--color);
    cursor: default;
}

.container {
    max-width: 1320px;
    width: 100%;
    margin: 0px auto;
}

.right-bar {
    margin-top: 15px;
    margin-left: 65px;
    max-height: 690px;
    height: 100%;
    max-width: 360px;
    width: 100%;
    border: 1px solid #E7E6E6;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.05);
    border-radius: var(--radius);
}

.container-split {
    max-width: 880px;
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 21px 0px;
}

.logo {
    display: flex;
}

.logo img {
    margin-right: 10px;
}

.logo h3 {
    color: var(--color-orange);
    font-size: 22px;
}

.header input {
    min-width: 290px;
    border: 0px;
    min-height: 30px;
}

.nav {
    align-items: center;
}

.nav a {
    font-size: 14.77px;
    color: var(--color);
    text-decoration: none;
    padding: 11px 42.8px 11px 20px;
}

.log-btn {
    color: white;
    padding: 12px 20px;
    background-color: var(--color-orange);
    border-radius: 260px;
    border: 0px;
}







.title {
    font-size: 39.69px;
    max-width: 788px;
    margin-top: 22px;
}

.info {
    display: flex;
    align-items: center;
    margin-top: 22px;
}

.rate {
    display: flex;
}

.rate img {
    max-width: 15px;
    width: 100%;
    max-height: 15px;
    height: 15px;
}

.info-rate {
    margin-inline: 9px 20px;
}

.info-booked {
    margin-left: 40px;
}

.info-images {
    margin-top: 20px;
    max-width: 1290px;
    display: flex;
    justify-content: space-between;
    max-height: 510px;
    column-gap: 10px;
}

.right-block {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.img_one, .img_two {
    object-fit: cover;
    width: 100%;
    height: auto;
    border-radius: 10px 0px 0px 10px;
}

.img_one {
    max-width: 770px;
    min-width: 300px;
    height: 510px;
}

.img_two {
    max-width: 510px;
    min-width: 300px;
    height: 250px;
    border-radius: 0px 10px 0px 0px;
}

.info-img-split {
    display: flex;
    gap: 10px;
}

.img_four {
    border-radius: 0px 0px 10px 0px;
}

.img_three, .img_four {
    object-fit: cover;
    width: 250px;
    height: 250px;
}




.descr-title {
    font-size: 29.18px;
    margin-bottom: 24px;
}

.descr-text {
    padding-bottom: 60px;
    border-bottom: 1px solid #E7E6E6;
}




.review {
    margin-top: 50px;
    margin-inline: 15px;
}

.person {
    display: flex;
    align-items: center;
}

.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.person-img {
    background-color: var(--color);
    color: white;
    width: 40px;
    max-height: 40px;
    padding: 12px 0px;
    text-align: center;
    border-radius: 360px;
    margin-right: 20px;
    text-transform: uppercase;
}

.rew-name {
    font-size: 15.38px;
    font-weight: 600;
}

.rew-date {
    color: var(--color-gray);
    font-size: 13.78px;
}

.rew-comment {
    margin-top: 14px;
    margin-bottom: 24px;
}

.rew-images {
    display: flex;
    gap: 20px;
}

.rew-images img {
    max-height: 130px;
    height: 130px;
    border-radius: var(--radius);
}

.rew-rate {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.rew-rate p {
    margin-left: 10px;
    font-weight: 600;
    font-size: 15.63px;
}

.extra {
    display: flex;
    justify-content: space-between;
    margin-top: 21px;
}

.extra-info {
    display: flex;
}

.extra-info input {
    margin-right: 10px;
    width: 18px;
    height: 18px;
}

input[type="checkbox"] {
    accent-color: var(--color-orange);
}

.extra-info p {
    min-width: 180px;
}

.order-title {
    font-size: 17.44px;
    font-weight: 500;
    margin-bottom: 20px;
}

.row-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.person-panel {
    display: flex;
    align-items: center;
}

.person-panel p {
    margin-inline: 10px;
}

.person-panel button {
    border-radius: 350px;
    max-width: 30px;
    width: 30px;
    max-height: 30px;
    height: 30px;
    background-color: white;
    border: 1px solid var(--color-light-gray);
}

.total-price {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    border-top: 1px solid var(--color-light-gray);
    margin-top: 22px;
}

#book-now {
    background-color: var(--color-orange);
    color: white;
    border: 0px;
    width: 100%;
    min-height: 68px;
    border-radius: var(--radius);
    margin-top: 20px;
}

#inclList {
    align-items: center;
    padding-bottom: 60px;
    border-bottom: 1px solid var(--color-light-gray);
}

#inclList li::marker {
    color: #ffe5e5;
    font-size: 22px;
}

.inpt-form {
    height: 55px;
    width: 100%;
    border-radius: var(--radius);
    border: 1px solid var(--color-light-gray);
    box-sizing: border-box;
}

.inpt-form::placeholder {
    padding-left: 15px;
}

.comment-form {
    height: 137px;
    resize: vertical;
}

.post-form > * {
    flex-grow: 1;
}

.btn-post {
    height: 55px;
    width: 100%;
    border-radius: var(--radius);
    background-color: var(--color-orange);
    border: 0px;
    color: white;
    max-width: 230px;
    cursor: pointer;
}