:root {
    --font-family: "Inter";
    --font-size: 14.77px;
    --radius: 12px;

    --color: #05073C;
    --color-orange: #EB662B;
    --color-gray: #717171;
    --color-light-gray: #e7e6e6;
}

body {
    font-family: var(--font-family);
    font-size: var(--font-size);
    color: var(--color);
    cursor: default;
}

.container {
    max-width: 1320px;
    width: 100%;
    margin: 0px auto;
}

.cont {
    display: flex;
    align-items: top;
}

.right-bar {
    width: 100%;
    height: 1200px;
}

.left-bar {
    max-width: 300px;
    width: 100%;
    margin-right: 15px;
}

.bar-top {
    border: 1px solid var(--color-light-gray);
    border-radius: var(--radius);
    color: var(--color);
}

.top-cont {
    padding-top: 30px;
    padding-inline: 30px;
    padding-bottom: 30px;
    max-width: 238px;
    width: 100%;
    border-radius: var(--radius) var(--radius) 0 0;
    background-color: var(--color-orange);
    color: white;
}

.top-cont p {
    margin-bottom: 10px;
}

.top-cont input {
    width: 99%;
    height: 50px;
    border: 0px;
    border-radius: var(--radius);
}

.top-cont input {
    text-align: center;
}

.card-list {
    display: grid;
    row-gap: 30px;
}

.travel-card {
    display: flex;
    border-radius: var(--radius);
    border: 1px solid var(--color-light-gray);
}

.tr-card-img {
    max-width: 280px;
    width: 100%;
    max-height: 263px;
    height: 263px;
    border-radius: var(--radius);
    margin: 21px 30px 21px 21px;
}

.tr-card-rate {
    display: flex;
    align-items: center;
}

.tr-card-rate img {
    width: 15px;
    height: 13px;
}

.tr-card-info {
    margin-block: 21px;
    max-width: 353px;
    padding-right: 30px;
    border-right: 1px solid var(--color-light-gray);
    line-height: 28.1px;
}

.tr-card-info h3 {
    margin-block: 5px 10px;
    font-size: 17.44px;
}

.tr-card-rate {
    margin-bottom: 15px;
}

.tr-card-price {
    margin-block: 21px;
    margin-inline: 31px 10px;
    max-width: 184px;
    width: 100%;
    justify-items: center;
    align-content: center;
}

.tr-card-price h4 {
    margin-block: 110px 20px;
}

.tr-card-price button {
    color: var(--color-orange);
    background-color: white;
    border: 1px solid var(--color-orange);
    border-radius: var(--radius);
    height: 50px;
    max-width: 184px;
    width: 184px;
    cursor: pointer;

    transition: all 0.3s ease-in-out;
}

.tr-card-price button:hover {
    background-color: var(--color-orange);
    color: white;
}